<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/form.css">
  <meta charset="UTF-8">
  <title>Personality Prediction</title>
</head>
<body>
  <h2>Enter Your Details</h2>
<div class="p-form">

  <form action="{{url_for('predict')}}" method="post">

    <label>Time Spent Alone (0–11):</label>
    <select name="Time_spent_Alone">
      <option value="0.0">0.0</option>
      <option value="1.0">1.0</option>
      <option value="2.0">2.0</option>
      <option value="3.0">3.0</option>
      <option value="4.0">4.0</option>
      <option value="5.0">5.0</option>
      <option value="6.0">6.0</option>
      <option value="7.0">7.0</option>
      <option value="8.0">8.0</option>
      <option value="9.0">9.0</option>
      <option value="10.0">10.0</option>
      <option value="11.0">11.0</option>
    </select>
    <br><br>

    <label>Stage Fear:</label>
    <select name="Stage_fear">
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select>
    <br><br>

    <label>Social Event Attendance (0–10):</label>
    <select name="Social_event_attendance">
      <option value="0.0">0.0</option>
      <option value="1.0">1.0</option>
      <option value="2.0">2.0</option>
      <option value="3.0">3.0</option>
      <option value="4.0">4.0</option>
      <option value="5.0">5.0</option>
      <option value="6.0">6.0</option>
      <option value="7.0">7.0</option>
      <option value="8.0">8.0</option>
      <option value="9.0">9.0</option>
      <option value="10.0">10.0</option>
    </select>
    <br><br>

    <label>Going Outside (0–7):</label>
    <select name="Going_outside">
      <option value="0.0">0.0</option>
      <option value="1.0">1.0</option>
      <option value="2.0">2.0</option>
      <option value="3.0">3.0</option>
      <option value="4.0">4.0</option>
      <option value="5.0">5.0</option>
      <option value="6.0">6.0</option>
      <option value="7.0">7.0</option>
    </select>
    <br><br>

    <label>Drained After Socializing:</label>
    <select name="Drained_after_socializing">
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select>
    <br><br>

    <label>Friends Circle Size (0–15):</label>
    <select name="Friends_circle_size">
      <option value="0.0">0.0</option>
      <option value="1.0">1.0</option>
      <option value="2.0">2.0</option>
      <option value="3.0">3.0</option>
      <option value="4.0">4.0</option>
      <option value="5.0">5.0</option>
      <option value="6.0">6.0</option>
      <option value="7.0">7.0</option>
      <option value="8.0">8.0</option>
      <option value="9.0">9.0</option>
      <option value="10.0">10.0</option>
      <option value="11.0">11.0</option>
      <option value="12.0">12.0</option>
      <option value="13.0">13.0</option>
      <option value="14.0">14.0</option>
      <option value="15.0">15.0</option>
    </select>
    <br><br>

    <label>Post Frequency (0–10):</label>
    <select name="Post_frequency">
      <option value="0.0">0.0</option>
      <option value="1.0">1.0</option>
      <option value="2.0">2.0</option>
      <option value="3.0">3.0</option>
      <option value="4.0">4.0</option>
      <option value="5.0">5.0</option>
      <option value="6.0">6.0</option>
      <option value="7.0">7.0</option>
      <option value="8.0">8.0</option>
      <option value="9.0">9.0</option>
      <option value="10.0">10.0</option>
    </select>
    <br><br>
    <p>The Personality is: {{result}}</p>

    <button type="submit">Predict</button>
  </form>
</div>
</body>
</html>
